# Python cache
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# Streamlit secrets
.streamlit/secrets.toml

# Logs
*.log

# Operating system files
.DS_Store
Thumbs.db